<h1>Cart View</h1>
<div class="container">
  <!-- {{cart}} -->
  <br>
  <h3>Total: ${{total}}</h3>
  <div class="row" ng-repeat="cart in CartView">
    <div class="col-sm-4"><a href="#" class=""><img src="{{cart.imageUrl}}" class="img-responsive"></a>
    </div>
    <div class="col-sm-8">
      <h3 class="title">{{cart.name}}</h3>
      <p><span class="glyphicon glyphicon-info-sign"></span> Ingredients</p>
      <p>{{cart.ingredients}}</p>
      <p><span class="glyphicon glyphicon-info-sign"></span> CaffeineScale</p>
      <p>{{cart.caffeineScale}}</p>
      <p><span class="glyphicon glyphicon-info-sign"></span> Price</p>
      <p>{{cart.price}}</p>
      <p><span class="glyphicon glyphicon-info-sign"></span> InStock</p>
      <p>{{cart.inStock}}</p>
      <p><span class="glyphicon glyphicon-info-sign"></span> Rating</p>
      <p>{{cart.rating}}</p>

      <p><span class="glyphicon glyphicon-info-sign"></span> Quantity</p>
      <form name="newQuanForm" ng-submit="cartCtrl.updateQuan(quan.new, cart.quantity, cart._id, cart.price)">
      <input type="number" name="quan" ng-model="quan.new" value="{{cart.quantity}}"></input>
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
      <!-- <p>{{cart.quantity}}</p> -->
      <p><span class="glyphicon glyphicon-info-sign"></span> Categories</p>
      <p><span ng-repeat="cat in cart.categories">{{cat}} &nbsp &nbsp &nbsp</span></p>
    </div>
  </div>
  <hr>

</div>
