<h1>Tea</h1>

<div class="container">
  {{cart}}
  <br>
  {{total}}
  <br>
  {{CartView}}
  <!-- view controls row -->
  <div class="row">
    <select ng-options="item.category for item in categories" ng-model="item" ng-change="mainCtrl.update()"></select>
  </div>
  <button name="button" ng-click="mainCtrl.newFilter()">Sort Price</button>
  <!-- tea displays -->
  <div class="row" ng-repeat="tea in teas | orderBy:filterVar">

    <div class="col-sm-4"><a href="/#/" class=""><img src="{{tea.imageUrl}}" class="img-responsive"></a>
    </div>
    <div class="col-sm-8">
      <h3 class="title">{{tea.name}}</h3>
      <p><span class="glyphicon glyphicon-info-sign"></span> Ingredients</p>
      <p>{{tea.ingredients}}</p>
      <p><span class="glyphicon glyphicon-info-sign"></span> CaffeineScale</p>
      <p>{{tea.caffeineScale}}</p>
      <p><span class="glyphicon glyphicon-info-sign"></span> Price</p>
      <p>{{tea.price}}</p>
      <p><span class="glyphicon glyphicon-info-sign"></span> InStock</p>
      <p>{{tea.inStock}}</p>
      <p><span class="glyphicon glyphicon-info-sign"></span> Rating</p>
      <p>{{tea.rating}}</p>
      <p><span class="glyphicon glyphicon-info-sign"></span> Categories</p>
      <p><span ng-repeat="cat in tea.categories">{{cat}} &nbsp &nbsp &nbsp</span></p>
      <form name="teaForm" ng-submit="mainCtrl.submitTea(tea._id, quantity, tea.price)">
        <select class="form-control" name="quantitiy" ng-model="quantity.number">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <button class="btn btn-sm btn-primary" data-id="{{tea.id}}">Add to Bag</button>
      </form>

    </div>
  </div>
  <hr>

</div>
